# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y
CONFIG_BOARD_PINETIME_DEVKIT1=y
CONFIG_HWINFO=y
CONFIG_HWINFO_NRF=y

CONFIG_ARM_MPU=y

CONFIG_GPIO=y

#CONFIG_SERIAL=y

CONFIG_I2C=y

CONFIG_SPI=y

CONFIG_CONSOLE=y
#CONFIG_UART_CONSOLE=y

# use P0.09 and P0.10 as GPIOs
CONFIG_NFCT_PINS_AS_GPIOS=y

# use P0.21 as RST
CONFIG_GPIO_AS_PINRESET=y

CONFIG_LVGL_USE_BTN=y
CONFIG_LVGL_USE_THEME_MATERIAL=n
CONFIG_ST7789V=y
CONFIG_LVGL_VDB_SIZE=2
CONFIG_USE_SEGGER_RTT=y
CONFIG_LVGL_POINTER_KSCAN=y
#CONFIG_LVGL_FONT_MONTSERRAT_28_COMPRESSED=y
CONFIG_LVGL_FONT_UNSCII_8=n
CONFIG_LVGL_USE_THEME_MATERIAL=y
CONFIG_LVGL_THEME_DEFAULT_COLOR_PRIMARY_BLACK=y
CONFIG_LVGL_FONT_MONTSERRAT_28=y

