# nRF52832-MDK board configuration

# Copyright (c) 2018 makerdiary.com.
# SPDX-License-Identifier: Apache-2.0

if BOARD_PINETIME     

config BOARD
	default "pinetime"

if I2C

config I2C_1
	default y

endif # I2C

if SPI

config SPI_0
        default y

endif # SPI



if PWM

config PWM_0
	default y

endif # PWM

config BT_CTLR
	default BT

endif # PINETIME            
